In [38]:
import pandas as pd
from pybaseball import standings, season_batting_bref

standings_2021 = standings(2021)
standings_2022 = standings(2022)
standings_2023 = standings(2023)
standings_2024 = standings(2024)
standings_2025 = standings(2025)
test_team_batting = season_batting_bref(2021, 2025)

Getting per-team batting data: 2021
Getting per-team batting data: 2022
Getting per-team batting data: 2023
Getting per-team batting data: 2024
Getting per-team batting data: 2025

In [52]:
print(standings_2025[0])
print('\nChecking output of team batting')
print(test_team_batting.shape)
print()
print(test_team_batting.head(n=1))

                  Tm   W   L  W-L%    GB
1  Toronto Blue Jays  94  68  .580    --
2   New York Yankees  94  68  .580    --
3     Boston Red Sox  89  73  .549   5.0
4     Tampa Bay Rays  77  85  .475  17.0
5  Baltimore Orioles  75  87  .463  19.0

Checking output of team batting
(150, 31)

   season team_abbrev             team_name batters_used age_bat  \
0    2021         ARI  Arizona Diamondbacks           64    28.9

  runs_per_game    G    PA    AB    R  ... slugging_perc onbase_plus_slugging  \
0          4.19  162  6144  5489  679  ...          .382                 .692

  onbase_plus_slugging_plus    TB GIDP HBP  SH  SF IBB   LOB
0                        87  2099   99  54  32  28  24  1152

[1 rows x 31 columns]

In [51]:
full_standings_2021 = pd.concat(standings_2021, ignore_index=True)
full_standings_2022 = pd.concat(standings_2022, ignore_index=True)
full_standings_2023 = pd.concat(standings_2023, ignore_index=True)
full_standings_2024 = pd.concat(standings_2024, ignore_index=True)
full_standings_2025 = pd.concat(standings_2025, ignore_index=True)
full_standings_2025

                       Tm   W    L  W-L%    GB
0       Toronto Blue Jays  94   68  .580    --
1        New York Yankees  94   68  .580    --
2          Boston Red Sox  89   73  .549   5.0
3          Tampa Bay Rays  77   85  .475  17.0
4       Baltimore Orioles  75   87  .463  19.0
5     Cleveland Guardians  88   74  .543    --
6          Detroit Tigers  87   75  .537   1.0
7      Kansas City Royals  82   80  .506   6.0
8         Minnesota Twins  70   92  .432  18.0
9       Chicago White Sox  60  102  .370  28.0
10       Seattle Mariners  90   72  .556    --
11         Houston Astros  87   75  .537   3.0
12          Texas Rangers  81   81  .500   9.0
13              Athletics  76   86  .469  14.0
14     Los Angeles Angels  72   90  .444  18.0
15  Philadelphia Phillies  96   66  .593    --
16          New York Mets  83   79  .512  13.0
17          Miami Marlins  79   83  .488  17.0
18         Atlanta Braves  76   86  .469  20.0
19   Washington Nationals  66   96  .407  30.0
20      Milwaukee Brewers  97   65  .599    --
21           Chicago Cubs  92   70  .568   5.0
22        Cincinnati Reds  83   79  .512  14.0
23    St. Louis Cardinals  78   84  .481  19.0
24     Pittsburgh Pirates  71   91  .438  26.0
25    Los Angeles Dodgers  93   69  .574    --
26       San Diego Padres  90   72  .556   3.0
27   San Francisco Giants  81   81  .500  12.0
28   Arizona Diamondbacks  80   82  .494  13.0
29       Colorado Rockies  43  119  .265  50.0

In [50]:
test_team_batting.columns
filtered_team_batting = test_team_batting[['season', 'team_abbrev', 'runs_per_game', 'onbase_plus_slugging', 'onbase_plus_slugging_plus']]
filtered_team_batting

,season,team_abbrev,runs_per_game,onbase_plus_slugging,onbase_plus_slugging_plus
0,2021,ARI,4.19,.692,87
1,2021,ATL,4.91,.754,98
2,2021,BAL,4.07,.705,92
3,2021,BOS,5.12,.777,106
4,2021,CHC,4.35,.719,93
...,...,...,...,...,...
145,2025,STL,4.25,.693,96
146,2025,TBR,4.41,.714,99
147,2025,TEX,4.22,.684,100
148,2025,TOR,4.93,.761,108
149,2025,WSN,4.24,.693,96