In [ ]:
import pandas as pd
import numpy as np

from mlb_contracts_scraper import season_contracts

In [2]:
contracts_2021 = season_contracts(2021)
contracts_2022 = season_contracts(2022)
contracts_2023 = season_contracts(2023)
contracts_2024 = season_contracts(2024)
contracts_2025 = season_contracts(2025)

In [67]:
contracts_2021 = pd.read_csv('2021_mlb_contracts.csv')
contracts_2022 = pd.read_csv('2022_mlb_contracts.csv')
contracts_2023 = pd.read_csv('2023_mlb_contracts.csv')
contracts_2024 = pd.read_csv('2024_mlb_contracts.csv')
contracts_2025 = pd.read_csv('2025_mlb_contracts.csv')

In [148]:
all_contracts = pd.concat([contracts_2021, contracts_2022, contracts_2023, contracts_2024, contracts_2025], ignore_index=True)
all_contracts

,category,team,season,row,Player,Pos,Age,Type,Luxury Tax,Luxury Tax %,Cash Salary,Free Agent Year
0,Active,ARI,2021,1,Madison Bumgarner,SP,31,Free Agent,"$16,600,000",7.90%,"$14,000,000",2025.0
1,Active,ARI,2021,2,Kole Calhoun,RF,33,Free Agent,"$8,000,000",3.81%,"$8,000,000",NaN
2,Active,ARI,2021,3,David Peralta,LF,33,ExtensionArbitration,"$7,333,333",3.49%,"$7,500,000",NaN
3,Active,ARI,2021,4,Ketel Marte,CF,27,ExtensionPre-Arbitration,"$4,800,000",2.29%,"$6,000,000",NaN
4,Active,ARI,2021,5,Merrill Kelly,SP,32,Free Agent,"$4,250,000",2.02%,"$4,250,000",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
7711,Retained,WSN,2025,9,Alex Call,LF,30,Retained,"$525,135",-,"$525,135",NaN
7712,Retained,WSN,2025,10,Andrew Chafin,RP,35,Retained,"$489,247",-,"$489,247",NaN
7713,Retained,WSN,2025,11,Luis Garcia,RP,38,Retained,"$245,160",-,"$245,160",NaN
7714,Deferred,WSN,2025,1,Max Scherzer,SP,40,NaN,-,-,"$15,000,000",NaN
7715,Deferred,WSN,2025,2,Patrick Corbin,SP,35,NaN,-,-,"$10,000,000",NaN

In [149]:
all_contracts = all_contracts.rename(columns={
  'Player': 'player',
  'Pos': 'position',
  'Age': 'age',
  'Type': 'contract_type',
  'Luxury Tax': 'luxury_tax',
  'Luxury Tax %': 'luxury_tax_pct',
  'Cash Salary': 'salary',
  'Free Agent Year': 'free_agency_yr'
})

all_contracts = all_contracts.replace(np.nan, None)
all_contracts = all_contracts.replace('-', None)
all_contracts = all_contracts.replace('Free AgentForeign Professional', 'Free Agent')
all_contracts = all_contracts.replace('ExtensionArbitration', 'Extension')
all_contracts = all_contracts.replace('ExtensionPre-Arbitration', 'Extension')

all_contracts['luxury_tax'] = all_contracts['luxury_tax'].str.replace(',', '')
all_contracts['luxury_tax'] = all_contracts['luxury_tax'].str.replace('$', '')
all_contracts['luxury_tax'] = pd.to_numeric(all_contracts['luxury_tax'])
all_contracts['luxury_tax'] = all_contracts['luxury_tax'].replace(np.nan, 0)

all_contracts['salary'] = all_contracts['salary'].str.replace(',', '')
all_contracts['salary'] = all_contracts['salary'].str.replace('$', '')
all_contracts['salary'] = pd.to_numeric(all_contracts['salary'])
all_contracts['salary'] = all_contracts['salary'].replace(np.nan, 0)

all_contracts['luxury_tax_pct'] = all_contracts['luxury_tax_pct'].str.replace('%', '')
all_contracts['luxury_tax_pct'] = pd.to_numeric(all_contracts['luxury_tax_pct']) / 100
all_contracts['luxury_tax_pct'] = all_contracts['luxury_tax_pct'].replace(np.nan, 0)

all_contracts = all_contracts.replace(np.nan, None)

all_contracts

,category,team,season,row,player,position,age,contract_type,luxury_tax,luxury_tax_pct,salary,free_agency_yr
0,Active,ARI,2021,1,Madison Bumgarner,SP,31,Free Agent,16600000.0,0.0790,14000000.0,2025.0
1,Active,ARI,2021,2,Kole Calhoun,RF,33,Free Agent,8000000.0,0.0381,8000000.0,None
2,Active,ARI,2021,3,David Peralta,LF,33,Extension,7333333.0,0.0349,7500000.0,None
3,Active,ARI,2021,4,Ketel Marte,CF,27,Extension,4800000.0,0.0229,6000000.0,None
4,Active,ARI,2021,5,Merrill Kelly,SP,32,Free Agent,4250000.0,0.0202,4250000.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...
7711,Retained,WSN,2025,9,Alex Call,LF,30,Retained,525135.0,0.0000,525135.0,None
7712,Retained,WSN,2025,10,Andrew Chafin,RP,35,Retained,489247.0,0.0000,489247.0,None
7713,Retained,WSN,2025,11,Luis Garcia,RP,38,Retained,245160.0,0.0000,245160.0,None
7714,Deferred,WSN,2025,1,Max Scherzer,SP,40,None,0.0,0.0000,15000000.0,None
7715,Deferred,WSN,2025,2,Patrick Corbin,SP,35,None,0.0,0.0000,10000000.0,None

In [150]:
all_contracts.to_csv('mlb_contracts_2021_2025.csv', index=False)

In [151]:
all_contracts.isna().sum()

category             0
team                 0
season               0
row                  0
player               0
position             0
age                  0
contract_type      178
luxury_tax           0
luxury_tax_pct       0
salary               0
free_agency_yr    6508
dtype: int64