In [1]:
import pandas as pd
import numpy as np
from pybaseball import bwar_bat, bwar_pitch

bref_batting = bwar_bat()
bref_pitching = bwar_pitch()

In [2]:
print(bref_batting.columns)
print(bref_pitching.columns)

Index(['name_common', 'mlb_ID', 'player_ID', 'year_ID', 'team_ID', 'stint_ID',
       'lg_ID', 'pitcher', 'G', 'PA', 'salary', 'runs_above_avg',
       'runs_above_avg_off', 'runs_above_avg_def', 'WAR_rep', 'WAA', 'WAR'],
      dtype='object')
Index(['name_common', 'mlb_ID', 'player_ID', 'year_ID', 'team_ID', 'stint_ID',
       'lg_ID', 'G', 'GS', 'IPouts', 'RA', 'xRA', 'BIP', 'BIP_perc', 'salary',
       'ERA_plus', 'WAR_rep', 'WAA', 'WAA_adj', 'WAR'],
      dtype='object')

In [3]:
filtered_bwar_batting = bref_batting[(bref_batting['year_ID'] >= 2021) & (bref_batting['pitcher'] == 'N') & (bref_batting['PA'] >= 100)]
filtered_bwar_batting = filtered_bwar_batting[['name_common', 'mlb_ID', 'year_ID', 'team_ID', 'lg_ID', 'WAR']]
filtered_bwar_batting

           name_common    mlb_ID  year_ID team_ID lg_ID   WAR
221          CJ Abrams  682928.0     2022     SDP    NL  0.06
222          CJ Abrams  682928.0     2022     WSN    NL  0.00
223          CJ Abrams  682928.0     2023     WSN    NL  3.45
224          CJ Abrams  682928.0     2024     WSN    NL  3.37
225          CJ Abrams  682928.0     2025     WSN    NL  3.38
...                ...       ...      ...     ...   ...   ...
124598  Bradley Zimmer  605548.0     2022     TOR    AL -0.19
124697  Ryan Zimmerman  475582.0     2021     WSN    NL  1.08
124828     Mike Zunino  572287.0     2021     TBR    AL  3.67
124829     Mike Zunino  572287.0     2022     TBR    AL -0.82
124830     Mike Zunino  572287.0     2023     CLE    AL -0.56

[2390 rows x 6 columns]

In [4]:
filtered_bref_pitching = bref_pitching.copy(deep=True)
filtered_bref_pitching = filtered_bref_pitching[filtered_bref_pitching['year_ID'] >= 2021]
filtered_bref_pitching[['name_common', 'IPouts']].head(5)

           name_common  IPouts
51880    Fernando Abad      53
51881     Albert Abreu     110
51882      Bryan Abreu     108
51883  Domingo Acevedo      33
51884      Keegan Akin     285

In [5]:
filtered_bref_pitching['IPouts'] = filtered_bref_pitching['IPouts'] // 3 + ((filtered_bref_pitching['IPouts'] % 3) * .1)
filtered_bref_pitching[['name_common', 'IPouts']].head(5)

           name_common  IPouts
51880    Fernando Abad    17.2
51881     Albert Abreu    36.2
51882      Bryan Abreu    36.0
51883  Domingo Acevedo    11.0
51884      Keegan Akin    95.0

In [6]:
filtered_bwar_pitching = filtered_bref_pitching[filtered_bref_pitching['IPouts'] >= 20]
filtered_bwar_pitching = filtered_bwar_pitching[['name_common', 'mlb_ID', 'year_ID', 'team_ID', 'lg_ID', 'WAR']]
filtered_bwar_pitching

              name_common    mlb_ID  year_ID team_ID lg_ID   WAR
51881        Albert Abreu  656061.0     2021     NYY    AL  0.07
51882         Bryan Abreu  650556.0     2021     HOU    AL -0.94
51884         Keegan Akin  669211.0     2021     BAL    AL -0.35
51887        Jorge Alcala  660896.0     2021     MIN    AL  0.29
51888     Tyler Alexander  641302.0     2021     DET    AL  1.99
...                   ...       ...      ...     ...   ...   ...
56846    Brandon Woodruff  605540.0     2025     MIL    NL  1.23
56847    Justin Wrobleski  680736.0     2025     LAD    NL -0.05
56849  Yoshinobu Yamamoto  808967.0     2025     LAD    NL  4.94
56851         Kirby Yates  489446.0     2025     LAD    NL -0.54
56855       Rob Zastryzny  642239.0     2025     MIL    NL  0.49

[2853 rows x 6 columns]

In [7]:
filtered_bwar_pitching.to_csv('bwar_pitching_data.csv', index=False)
filtered_bwar_batting.to_csv('bwar_batting_data.csv', index=False)